<h1>Startup Sprint!</h1>
<img src="images/learnco.png">

<h3>Subscribe to the Startup Sprint newsletter</h3>
  <form method=POST action="/subscribe">

<% if @error == 'email' %>
  <p style="color: red;">Please enter a valid email</p>
<<<<<<< Updated upstream
  <label for="full-name">Full Name</label>
  <input type="text" id="full-name" name="full_name" value=<%= @name %> required>

  <label for="email">Email</label>
  <input type="text" id="email" name="email" placeholder="address@domain.com" required autofocus="true">

  <label for="city">City</label>
  <input type="text" id="city" name="city" value=<%= @city %> required>

<% else %>

=======
  <input type="text" id="full-name" value=full_name >
<% else %>
<form method=POST action="/subscribe">
>>>>>>> Stashed changes
  <label for="full-name">Full Name</label>
  <input type="text" id="full-name" name="full_name" required>
  <label for="email">Email</label>
  <input type="text" id="email" name="email" placeholder="address@domain.com" required>
  <label for="city">City</label>
  <input type="city" id="city" name="city">
  <input type="Submit">
</form>
<% end %>
