<div style="background-color:red; height: 200px; width: auto"></div>
<div style="background-color:orange; height: 200px; width: auto"></div>
<div style="background-color:yellow; height: 200px; width: auto"></div>
<div style="background-color:green; height: 200px; width: auto"></div>
<div style="background-color:blue; height: 200px; width: auto"></div>
<div style="background-color:indigo; height: 200px; width: auto"></div>
<div style="background-color:violet; height: 200px; width: auto"></div>