<div>

<!-- TABLE TEMPLATE
  <table>
  <tr>
    <th> Name </th>
    <th> Thread pitch (mm) </th>
  </tr>
  <tr>
    <td> M4 </td>
    <td> 0.7 </td>
  </tr>
</table>
-->

  <div class="column">
  <table>
    <tr>
    <th> <h3>Today</h3></th>
  </tr>

      <% @today.each do |item| %>
      <tr>
        <td><%= item.first %>: <%= item.last %></td>
      </tr>
      <% end %>
  </table>

  </div>

  <div class="column">
  <table>
    <th><h3>Tomorrow</h3></th>
    <tr>
      <% @tomorrow.each do |item| %>
        <td><%= item.first %>: <%= item.last %></td>
    </tr>
    <% end %>
  </table>

  </div>
</div>
