<!doctype html>
<head>
<link rel="stylesheet" href="stylesheets/splash.css">
</head>

<header>
<h1> Flatiron School <br> + <br> Venture for America </p>
</h1>
<div class = "box">
<a href ="/home"> Turn Up </a>
</div>

</header>
