<div>
  <div class="student">
    <img src="images/John-Wetzel.png">
    <h1>John Wetzel</h1>

    <img src="images/Katie-LeCornu.png">
    <h1>Katie LeCornu</h1>

    <img src="images/Leo-Pena.png">
    <h1>Leo Pena</h1>

    <img src="images/Ryan-West.png">
    <h1>Ryan West</h1>

    <img src="images/Samuel-Learner.png">
    <h1>Samuel Learner</h1>

  </div>

<div>
